* {	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-family: 'Shadows Into Light', cursive;
}

body {
	background-image: url(../images/collossal-power.jpg);
}

#card-bg {
	background-color: rgba(54,23,255 0.5);
}

.port-p {
	background-image: url(./assets-portfolio/images/bg-aot.jpg);
}

.lead {
	background-color: white;
	opacity: .3;
	border-radius: 5px;
	padding: 10px;
}

.icon {
	width: 30px;
	height: 30px;
}

.pic-gal {
	margin: 15px;
	width: 300px;
	height: 300px;
}